@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.navbar, .footer {
    background-color: #1F2937;
}

.hero-main, .logo a {
    color: #F9FAF8;
}

.hero-secondary, .links li a {
    font-size: 18px;
    color: #E5E7EB;
}

.btn, .cta {
    color: #3882F6;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.quote-sec {
    background-color: #E5E7EB;   
}

.quote-txt {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

/* navbar start */

.navbar {
    display: flex;
    width: 100%;
    min-height: 70px;
}

.nav-ctnr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
}

.links {
    display: flex;
    gap: 24px;
}